@font-face {
  font-family: OpenSans400;
  font-weight: normal;
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/OpenSans-Regular-webfont.woff") format('woff'),url("../fonts/OpenSans-Regular-webfont.ttf") format('truetype'),url("../fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular-webfont") format('svg');
}

@font-face {
  font-family: pristina;
  font-weight: normal;
  src: url("../fonts/Pristina.eot");
  src: url("../fonts/Pristina.eot?#iefix") format('embedded-opentype'),url("../fonts/Pristina.woff") format('woff'),url("../fonts/Pristina.ttf") format('truetype'),url("../fonts/Pristina.svg#Pristina") format('svg');
}

@font-face {
  font-family: GothamXL;
  font-weight: normal;
  src: url("../fonts/Gotham-XLight.eot");
  src: url("../fonts/Gotham-XLight.eot?#iefix") format('embedded-opentype'),url("../fonts/Gotham-XLight.woff") format('woff'),url("../fonts/Gotham-XLight.ttf") format('truetype'),url("../fonts/Gotham-XLight.svg#Gotham-XLight") format('svg');
}

@font-face {
  font-family: GothamBK;
  font-weight: normal;
  src: url("../fonts/Gotham-Book.eot");
  src: url("../fonts/Gotham-Book.eot?#iefix") format('embedded-opentype'),url("../fonts/Gotham-Book.woff") format('woff'),url("../fonts/Gotham-Book.ttf") format('truetype'),url("../fonts/Gotham-Book.svg#Gotham-Book") format('svg');
}

@font-face {
  font-family: GothamB;
  font-weight: normal;
  src: url("../fonts/Gotham-Bold.eot");
  src: url("../fonts/Gotham-Bold.eot?#iefix") format('embedded-opentype'),url("../fonts/Gotham-Bold.woff") format('woff'),url("../fonts/Gotham-Bold.ttf") format('truetype'),url("../fonts/Gotham-Bold.svg#Gotham-Bold") format('svg');
}

@font-face {
  font-family: GothamL;
  font-weight: normal;
  src: url("../fonts/Gotham-Light.eot");
  src: url("../fonts/Gotham-Light.eot?#iefix") format('embedded-opentype'),url("../fonts/Gotham-Light.woff") format('woff'),url("../fonts/Gotham-Light.ttf") format('truetype'),url("../fonts/Gotham-Light.svg#Gotham-Light") format('svg');
}

@font-face {
  font-family: GothamM;
  font-weight: normal;
  src: url("../fonts/Gotham-Medium.eot");
  src: url("../fonts/Gotham-Medium.eot?#iefix") format('embedded-opentype'),url("../fonts/Gotham-Medium.woff") format('woff'),url("../fonts/Gotham-Medium.ttf") format('truetype'),url("../fonts/Gotham-Medium.svg#Gotham-Medium") format('svg');
}

@font-face {
  font-family: GothamLIta;
  font-weight: normal;
  src: url("../fonts/Gotham-LightIta.eot");
  src: url("../fonts/Gotham-LightIta.eot?#iefix") format('embedded-opentype'),url("../fonts/Gotham-LightIta.woff") format('woff'),url("../fonts/Gotham-LightIta.ttf") format('truetype'),url("../fonts/Gotham-LightIta.svg#Gotham-LightIta") format('svg');
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

figure,
footer,
header,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

/* normalize.css v3.0.0 | MIT License | git.io/normalize */

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

figure,
footer,
header,
section {
  display: block;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
}

figure {
  margin: 1em 40px;
}

input,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

html {
  font-size: 14px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  font-size: 0;
}

ul,
p,
figure {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h3 {
  font-family: GothamXL;
  font-size: 2.571428571428572rem;
  margin-top: 0;
}

input[type="text"] {
  border: 1px solid #d0dee7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  padding-left: .7rem;
  width: 100%;
}

textarea {
  border: 1px solid #d0dee7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: .7rem;
  width: 100%;
}

body {
  font-family: OpenSans400;
  font-size: 14px;
  font-weight: normal;
}

h2 {
  font-family: GothamXL;
  margin-top: 0;
}

h2 {
  font-size: 2.571428571428572rem;
}

.wrap {
  padding: 0 1rem;
}

.info {
  background-color: #082c4e;
  color: #fff;
  padding-top: .4rem;
  padding-bottom: .4rem;
  text-align: center;
}

.info .telefono:before {
  content: '\f095';
  font-family: fontawesome;
  color: #1363a8;
  padding-right: .7rem;
  font-size: 1.3rem;
}

.info .mail:before {
  content: '\f0e0';
  font-family: fontawesome;
  color: #1363a8;
  padding-right: .7rem;
  font-size: 1.3rem;
}

.info .fbook {
  text-align: right;
}

.info .fbook a:before {
  content: '\f230';
  font-family: fontawesome;
  color: #1363a8;
  padding-right: .7rem;
  font-size: 2rem;
}

header {
  background-color: #000;
  padding: 4rem 0;
  color: #fff;
  text-align: center;
}

header h2 {
  font-size: 3.285714285714286rem;
}

header h3 {
  font-family: pristina;
  letter-spacing: 1px;
  padding: 2rem 0 3rem 0;
  text-align: center;
  font-size: 3.285714285714286rem;
}

header h4 {
  font-family: GothamB;
  font-size: 1.571428571428571rem;
}

header p {
  font-family: GothamBK;
  font-size: 1.571428571428571rem;
}

.seccion-1 {
  color: #fff;
  background-attachment: fixed;
  background-image: url("../img/gimnasio-seccion-2.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.seccion-1 .box {
  text-align: center;
  margin-bottom: 1.8rem;
}

.seccion-1 .box h2 {
  font-family: GothamL;
  font-size: 2.142857142857143rem;
}

.seccion-3 {
  background-color: #082c4e;
  padding: 1rem 0 6rem 0;
  color: #fff;
  position: relative;
}

.seccion-3:after {
  content: '\f107';
  font-family: fontawesome;
  color: #1363a8;
  padding-right: .7rem;
  color: #fff;
  position: absolute;
  left: 46%;
  bottom: 3%;
  font-size: 5rem;
}

.seccion-3 h2 {
  text-align: center;
}

.seccion-3 p {
  border-bottom: 1px solid #fff;
  padding-bottom: 2rem;
}

.seccion-4 {
  background-image: url("../img/fondo-seccion-3.jpg");
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.seccion-4 p {
  font-family: GothamL;
  font-size: 1.857142857142857rem;
}

.seccion-4 p span {
  font-family: GothamBK;
}

.seccion-5 {
  background-image: url("../img/comentarios-seccion-4.jpg");
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #082c4e;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: -28px;
}

.seccion-5 h2 {
  text-transform: uppercase;
  text-align: center;
}

.seccion-6 {
  background-image: url("../img/fondo-premios-seccion-4.png");
  background-position: top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #082c4e;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.seccion-6 ul li {
  position: relative;
  padding-left: 4rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
}

.seccion-6 ul li span {
  width: 46px;
  height: 81px;
  display: inline-block;
  vertical-align: middle;
  background-image: url("../img/icon-premio.png");
  position: absolute;
  left: 0;
  top: -10px;
}

.seccion-6 ul li:last-child {
  padding-bottom: 2rem;
}

.seccion-7 {
  background-color: #b3b3b3;
  color: #082c4e;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.seccion-7 h2 {
  text-align: center;
}

.seccion-7 ul li {
  text-transform: capitalize;
}

.seccion-7 ul li:before {
  content: '\f00c';
  font-family: fontawesome;
  color: #1363a8;
  padding-right: .7rem;
}

footer {
  background-attachment: fixed;
  background-image: url("../img/footer-fondo.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  position: relative;
  color: #fff;
}

footer .titulo {
  padding: 2rem 1rem 1rem 1rem;
  text-align: center;
  background-color: #082c4e;
  margin-bottom: 2rem;
}

footer .formulario {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

footer .formulario input {
  color: #082c4e;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

footer .formulario input[type="submit"] {
  color: #fff;
  background-color: #1363a8;
  text-transform: uppercase;
  padding: 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
}

footer .formulario textarea {
  color: #082c4e;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
}

footer .info-adicional {
  text-align: center;
}

@media screen and (min-width:768px) {
  .info.medium .wrap {
    zoom: 1;
  }

  .info.medium .wrap:before,
  .info.medium .wrap:after {
    content: "";
    display: table;
  }

  .info.medium .wrap:after {
    clear: both;
  }

  .info.medium .left {
    text-align: left;
    float: left;
    padding-top: 4px;
  }

  .info.medium .left p {
    display: inline-block;
    vertical-align: top;
  }

  .info.medium .left p:first-child {
    margin-right: 1rem;
  }

  .info.medium .fbook {
    display: inline-block;
    vertical-align: top;
    float: right;
  }

  .seccion-1.medium .box {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .seccion-6.medium ul {
    margin-left: 4rem;
  }

  .seccion-7.medium .wrap {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .seccion-7.medium .left {
    display: inline-block;
    vertical-align: top;
  }

  .seccion-7.medium .left {
    margin-right: 2rem;
  }
}

@media screen and (min-width:1000px) {
  .wrap {
    width: 68.57142857142857rem;
    margin-left: auto;
    margin-right: auto;
  }

  .seccion-1.large .wrap {
    width: 68.57142857142857rem;
    margin-left: auto;
    margin-right: auto;
  }

  .seccion-1.large .wrap .box {
    max-width: 32%;
    margin-top: 4rem;
    display: inline-block;
    vertical-align: top;
  }

  .seccion-1.large .wrap .box p {
    padding: 2rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .seccion-1.large .wrap .box:nth-child(2) {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .seccion-7.large .proyectos {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .seccion-7.large .proyectos .left {
    text-align: left;
  }

  footer.large .formulario {
    max-width: 75%;
  }

  footer.large .info-adicional {
    zoom: 1;
  }

  footer.large .info-adicional:before,
  footer.large .info-adicional:after {
    content: "";
    display: table;
  }

  footer.large .info-adicional:after {
    clear: both;
  }

  footer.large .info-adicional .left {
    float: left;
    text-align: left;
    display: inline-block;
    vertical-align: bottom;
  }

  footer.large .info-adicional .right {
    float: right;
    display: inline-block;
    vertical-align: bottom;
    padding-top: 2rem;
  }
}
